.logo{
    font-weight: 700;
    display:flex;
    color: white;
    /* background:black; */
    width:5vw;
    left:15vw;
    height:170%;
    justify-content:center;
    padding-left: 2px;
    position:absolute;
    /* background-image: url('../../public/flag.svg'); */
    /* background-size: cover; */
    /* background-position: bottom; */
}