.mainSectionContainer{
    width:100%;
    display:flex;
    overflow:hidden;
    justify-content:center;
    background-image: url('../../public/fondoMain/fondoMain.jpg'); 
     background-size: cover;
    /* background-position: bottom; */
}