.mainSectionContainer{
    widows: 100vw;
    height: 130vh;
    display:flex;
    overflow:hidden;
    flex-direction: column;
    align-items: center;
    background-image: url('../../public/fondoMain/fondoMain.jpg'); 
     background-size: cover;
    /* background-position: bottom; */
}