.photo{
    width: 26vw;
    height: 30vw;
    border-radius: 20px;
    background-image: url('../../public/images/completeV2.png');
    background-size:cover;
    /* background-position: inherit; */
    background-position:bottom;
}