.photo{
    /* width: 25vw; */
    height: 60vh;
    border-radius: 20px;
    background-image: url('../../public/images/completeV2.png');
    background-size: cover;
    background-position: bottom;
}