.contextMainContainer{
    z-index: 100;
    width: 100%;
    overflow-y: scroll;
    height: 100vh;
    display: block;
    /* flex-direction: column; */
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.contextMainContainer::-webkit-scrollbar{
    z-index: 100;
    width: 8px;
    border-radius: 100px;
    background: rgb(102, 102, 102,.25);
}

.contextMainContainer::-webkit-scrollbar-thumb{
    border-radius: 100px;
    background: rgb(110, 117, 245,.8);
    /* background: white; */
}



@media (max-width: 1025px){
    .contextMainContainer{
        scroll-margin-top: 50vh;
    }
}