.container {
  min-height: 100vh;
}

.main {
  min-width: 90vw;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  /* background: seagreen; */
  grid-template-columns: 100vw;
}

 /* content */

 .navigationContainer{
  position: fixed;
  width: 100vw;
  z-index:500;
   /* background: red; */
   display: flex;
   justify-content: center;
   transition: 0.15s ease-in-out;
 }

 .backNav{
  background: rgb(255, 255, 255,.1);
  backdrop-filter: blur(10px);
  /* background: black; */
 }

 .contextContainer{
   /* grid-column: 2/3; */
   display: flex;
   justify-content: center;
   z-index: 100;
   background: #fafafa;

   /* background: rgb(110, 117, 245,.8); */
   /* background: brown; */
 }

 .active-nav{
  color: rgb(110, 117, 245,.8) ;
  border-right: .3vw solid rgb(110, 117, 245,.8);
  /* border-left:4px solid seashell;   */
}


.footer {
  width: 100%;
  height: 100vh;
  background: rgb(110, 118, 245);
  /* border-top: 1px solid #eaeaea; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer h3{
  color: white;
  font-size: 3rem;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
} */


/* .grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
} */



@media (max-width: 600px) {

}
